<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 
	2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd" > -->

<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_3.xsd"
	id="WebApp_ID" version="2.3">
	<display-name>Archetype Created Web Application</display-name>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>/jsp/login.jsp</welcome-file>
	</welcome-file-list>

	<context-param>
		<param-name>configParam</param-name>
		<param-value>Hi there ! I am a Servlet(Application) Context Param
		</param-value>
	</context-param>

	<context-param>
		<param-name>contextParam</param-name>
		<param-value>Hi there ! I am a Servlet(Application) Context Param
		</param-value>
	</context-param>
	<!-- Context Listener classes -->
	<listener>
		<listener-class>listeners.AppContextListener</listener-class>
	</listener>
	<!-- All Servlets -->
	<servlet>
		<servlet-name>GreetingServlet</servlet-name>
		<servlet-class>servlets.GreetingServlet</servlet-class>
		<init-param>
			<param-name>configParam</param-name>
			<param-value>Hi there ! I am a Servlet Config Param</param-value>
		</init-param>
	</servlet>
	<servlet>
		<servlet-name>MultiThreadingTester</servlet-name>
		<display-name>MultiThreadingTester</display-name>
		<servlet-class>servlets.MultiThreadingTester</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>TransferMessage</servlet-name>
		<servlet-class>servlets.MessageTransferServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>CallElPageServlet</servlet-name>
		<servlet-class>servlets.CallElPageServlet</servlet-class>
	</servlet>
	<!-- All mappings -->
	<servlet-mapping>
		<servlet-name>GreetingServlet</servlet-name>
		<url-pattern>/hello</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>MultiThreadingTester</servlet-name>
		<url-pattern>/multiThread</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>TransferMessage</servlet-name>
		<url-pattern>/transferMessage</url-pattern>
		<url-pattern>/jsp/el/transferMessage</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>CallElPageServlet</servlet-name>
		<url-pattern>/coreTags</url-pattern>
	</servlet-mapping>
</web-app>
